* {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 32px;
}

.header-container {
    background-color: tan;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 4px 12px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
}

.about-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.left-side-title {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 315px;
    height: 550px;
    background-color: white;
    padding: 10px;
}

.left-side-content {
    font-size: 24px;
}

img {
    width: 65%;
    padding: 10px;
}


/* Problem with using width 50% in .left-side and img  because when it shrinks its always asking for 50% of the window which is why the image shrinks like that
    Give fixed heights*/