* {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 32px;
}

.header-background {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 4px 12px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
}

.top-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.left-side-title {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 315px;
    height: 550px;
    /* background-color: white; */
    padding: 10px;
}

.left-side-content {
    font-size: 24px;
}

.header-image {
    width: 65%;
    padding: 10px;
}

.facts-title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}

.facts {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.facts-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    margin: 14px;
    border: 1px solid black;
}

#wanted-poster{
    width: 50%;
    margin: 5px;
    border: 5px solid black;
}

/* What I want to add

    Border to wanted posters so (add class) onto img src to seprate header image from facts images?
    Figure out how a flex box underneath each image (add text behing img src in*/